*,
*:after,
*:before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* box-sizing: inherit; */
}

html {
   font-size: 62.5%;
}

#root {
   width: 60%;
   min-height: calc(100vh - 8rem);
   margin: 0 auto;
   margin-top: 4rem;
   // padding: 1rem;
   background-color: var(--color-light-x);
   border-left: .1rem solid var(--color-light-1);
   border-right: .1rem solid var(--color-light-1); 
}